<?xml version="1.0"?>
<configuration>

  <connectionStrings>
    <add name="connection" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=D:\final packers and movers\App_Data\Database.mdf;Integrated Security=True;User Instance=True" />
    <add name="ConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.mail.yahoo.com" port="587" userName="bhavsar.tushard@yahoo.com" password="tushar1995@123" enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
